.registerForm {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formDiv {
  border-radius: 2rem;
  padding: 5rem;
  background-color: rgba(107, 152, 55, 0.5);
}

.formDiv form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formDiv form div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.formDiv form div input {
  font-size: 1.1rem;
  padding: 0.3rem;
  /* Important */
  outline: none;
  border: none;
  background-color: rgba(107, 152, 55, 0);
  color: black;
}
.formDiv form div input:focus {
  border: none;
}

.inpt {
  border-bottom: 2px solid rgb(99, 99, 99);
}

.btn2 {
  background: black;
  color: white;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 100%;
  margin: 1rem 0rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.btn2:hover {
  filter: invert(100%);
}
