.inputForm::before {
  content: '';
  background: url(../assets/inputForm-bg.jpg) no-repeat center center/cover;
  position: absolute;
  height: 105vh;
  width: 100%;
  display: block;
  opacity: 0.6;
  top: 0;
  left: 0;
  z-index: -2;
}

.registerForm {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formDiv {
  border-radius: 2rem;
  padding: 5rem;
  background-color: rgba(107, 152, 55, 0.8);
}

.formDiv form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(45, 72, 46, 0.4);
}

.formDiv form div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.formDiv form div input {
  font-size: 1.1rem;
  padding: 0.3rem;
  outline: none;
  border: none;
  background: none;
}

.inpt {
  border-bottom: 2px solid rgb(63, 63, 63);
}

.btn2 {
  background: black;
  color: white;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 100%;
  margin: 1rem 0rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  transition: filter 0.5s;
}

.link {
  background: black;
  color: white;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 95%;
  margin: 0.9rem -0.2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  transition: filter 0.5s;
}

.link:hover {
  filter: invert(100%);
}

::placeholder {
  color: rgb(63, 63, 63); /* Change to your desired color */
}
